* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

.contenedorHeader{
    width: 90%;
     margin: auto;
     background-color: rgb(32, 49, 204);
     border-radius: 5px;
     padding:  10px;
     margin-top: 50px;

     display: flex;
     align-items: center;
     justify-content: space-around;

}

.icoFlecha{
 width: 70px;
}
.contendedorTodo{
    
     width: 90%;
     margin: auto;
     background-color: aqua;
     border-radius: 25px;
     padding:  10px;
     margin-top: 50px;

     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;

   


}

.contendedorListado {

    width: 90%;
    margin: auto;
    background-color: aqua;
    border-radius: 25px;
    padding:  10px;
    margin-top: 50px;



}

.contenedor {
    width: 90%;
    background-color: rgb(245, 243, 243);
   
   padding: 20px;
    margin: auto;

    display: flex;

    
}

.divLista{
    width: 30%;
    text-align: center;
 

}

.matacho{
    width: 70%;
 
}


.cards{
    width: 200px;
    padding: 15px;
    background-color: cornflowerblue;
    border-radius: 20px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formatoPic{
    width: 150px;
    border-radius: 150px;
}

.formatoImg{
    height: 150px;
    border-radius: 10px;
}

.contenedorTextos{
    width: 95%;
    margin-top: 15px;
}

.txtLabel{
    font-weight: 300;
    margin: 0;
    color: white;
}

.txtTexto{
    font-weight: 500;
    margin: 0;
    color: white;
}
.inicio{
    width: 100px;
    height: 100px;
    margin-top: 20px;

}
a{
    text-decoration: none;
    color: black;
}